<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Гербарии</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>

<div class="container mt-5 mb-5">
    <form action="#" th:action="@{/herbariumLocation}" th:object="${newherbariumLocation}" method="post">
    <span class="badge text-bg-danger rounded-pill"
          th:if="${#fields.allErrors()}"
          th:errors="*{name}"
    ></span>
        <input type="text" th:field="*{name}" placeholder="Введите наименование вида" class="form-control"><br>
        <button type="submit" class="btn btn-success">Добавить</button>
    </form>
</div>

<table class="col-lg-6 col-md-8 mx-auto py-lg-5 text-center">
    <thead>
    <tr style="border-bottom:1px solid black">
        <th>ID</th>
        <th>Наименование вида</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tr th:each="herbariumLocation:${herbariumLocation}" style="border-bottom: 1px dotted black">
        <td th:text="${herbariumLocation.id}" style="border-right: 1px solid black"></td>
        <td th:text="${herbariumLocation.name}"></td>
        <td>
            <form th:action="'/herbariumLocation/' + ${herbariumLocation.id} + '/edit'" method="post">
                <button class="btn btn-warning" type="submit">Изменить</button>
            </form>
        <td>
            <form th:action="'/herbariumLocation/' + ${herbariumLocation.id} + '/remove'" method="post">
                <button class="btn btn-warning" type="submit">Удалить</button>
            </form>
        </td>
    </tr>
</table>


</body>
</html>